#tweet-text {
  border: none;
  outline: none;
  border-bottom: 4px solid gray;
  font-size: 20px;
  height: 40px;
  width: 100%;
  margin-bottom: 1em;
  background-color: #f4f1ec;
  resize: none;
}

/* tweet button + text */
.tweet-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.tweet-bottom > button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee, sans-serif;
}

.counter {
  color: black;
}

.negativeNum {
  color: red;
}

.error-msg {
  display: none;
  color: red;
  border: solid red 4px;
  margin-top: 40px;
}

.error-msg > p {
  margin-left: 20px;
}

.error-msg > p > span {
  padding: 0px 15px;
}