article.tweet {
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  margin-top: 2em;
  padding: 1em;
  margin-bottom: 2em;
  opacity: 0.8;
  overflow-wrap: break-word;
}

article.tweet > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.display-name {
  margin-left: 15px;
  color: rgb(51, 56, 1);
}

.handle {
  color: #8e9fce;
  filter: blur(0.5px);
}

.line {
  border-bottom: black 4px solid;
}

article.tweet > footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.icons {
  color: navy;
  font-size: 20px;
  visibility: hidden;
}

.icons > .fas {
  padding-right: 10px;
}

article.tweet:hover{
  box-shadow: 10px 10px #8e9fce;
  opacity: 1;
}

article.tweet:hover .icons {
  visibility: visible;
}

article.tweet:hover .handle {
  filter: blur(0);
}